<!DOCTYPE html>
<html lang="pt" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}" type='text/css'>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <script src="{{ url_for('static', filename= 'pagination.js') }}"></script>
    {% block scripts %}{% endblock %}
    <title>{% block title %}{{ _("Homepage") }}{% endblock %} | {{ _("WikiProject Brazilian Laws") }}</title>
    <script>
        function menuFunction() {
            var x = document.getElementById("topnavbar");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</head>
<body style="height: 100%">
{% block navbar %}{% endblock %}
<main class="w3-container" id="content" style="min-height:85vh;overflow: auto;padding: 0">
    {% block banner %}
        <div class="w3-row">
            <div class="w3-container w3-quarter"></div>
            <h1 class="w3-container w3-half" style="text-align: center; padding-top:60px; padding-bottom:60px">
                {% if lang=="en" %}
                    <img class="banner" src="{{ url_for('static', filename= 'logo - en.svg') }}" alt='{{ _("Logotipo WikiProject Brazilian Laws") }}' width="100%"/>
                {% else %}
                    <img class="banner" src="{{ url_for('static', filename= 'logo - pt.svg') }}" alt='{{ _("Logotipo WikiProject Brazilian Laws") }}' width="100%"/>
                {% endif %}
            </h1>
            <div class="w3-container w3-quarter"></div>
        </div>
    {% endblock %}
    {% block content %}{% endblock %}
</main>
<footer style="text-align:left;position: relative;padding: 0px 15px 0px 15px" id="footer">
    <hr>
    <p style="font-size:90%; text-align: center">
        {% set projeto %}<a tabindex="0" target='_blank' aria-label='{{_("WikiProject Brazilian Laws project")}}' href='https://www.wikidata.org/wiki/Wikidata:WikiProject_Brazilian_Laws'>{{_("WikiProject Brazilian Laws")}}</a>{% endset %}
        {{_("<i>WikiProject Brazilian Laws Legislation Importer</i> is an application developed in the context of the  <i><b>%(projeto)s</b></i> in Wikidata, with support of <b>WikiCite</b>.", projeto=projeto)}}
    </p>
</footer>
</body>
</html>