{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Create item") }}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
    <div class="w3-row" style="margin-top: 30px">
        <div class="w3-container w3-twothird">
            <table class="table table-responsive table-striped"
                   style="overflow-wrap: break-word; width: 100%; table-layout: fixed; overflow-wrap: break-word;">
                <tr>
                    <th>{{ _("Title") }}</th>
                    <td>{{ title }}</td>
                </tr>
                <tr>
                    <th style="white-space: nowrap">{{ _("Document type") }}</th>
                    <td>
                        {% for item_tipoDocumento in tipoDocumento %}
                            {% if item_tipoDocumento.wikidatified %}
                                <a target="_blank" title="{{ item_tipoDocumento.label }}" style="color: #029c36"
                                   data-qid="{{ item_tipoDocumento.qid }}"
                                   data-toggle="modal"
                                   data-label="{{ item_tipoDocumento.label }}"
                                   data-search_class="type"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_tipoDocumento.label }}
                                </a>
                            {% else %}
                                <a target="_blank" title="{{ item_tipoDocumento.label }}" style="color: red"
                                   data-toggle="modal"
                                   data-label="{{ item_tipoDocumento.label }}"
                                   data-search_class="type"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_tipoDocumento.label }} <sup>{{ _("Reconcile") }}</sup>
                                </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ _("Date") }}</th>
                    <td>{{ date }}</td>
                </tr>
                <tr>
                    <th>{{ _("URN") }}</th>
                    <td style="word-wrap: anywhere">{{ urn }}</td>
                </tr>
                <tr>
                    <th>{{ _("Locality") }}</th>
                    <td>
                        {% for item_localidade in localidade %}
                            {% if item_localidade.wikidatified %}
                                <a target="_blank" title="{{ item_localidade.label }}" style="color: #029c36"
                                   data-qid="{{ item_localidade.qid }}"
                                   data-toggle="modal"
                                   data-label="{{ item_localidade.label }}"
                                   data-search_class="locality"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_localidade.label }}
                                </a>
                            {% else %}
                                <a target="_blank" title="{{ item_localidade.label }}" style="color: red"
                                   data-toggle="modal"
                                   data-label="{{ item_localidade.label }}"
                                   data-search_class="locality"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_localidade.label }} <sup>{{ _("Reconcile") }}</sup>
                                </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ _("Authority") }}</th>
                    <td>
                        {% for item_autoridade in autoridade %}
                            {% if item_autoridade.wikidatified %}
                                <a target="_blank" title="{{ item_autoridade.label }}" style="color: #029c36"
                                   data-qid="{{ item_autoridade.qid }}"
                                   data-toggle="modal"
                                   data-label="{{ item_autoridade.label }}"
                                   data-search_class="authority"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_autoridade.label }}
                                </a>
                            {% else %}
                                <a target="_blank" title="{{ item_autoridade.label }}" style="color: red"
                                   data-toggle="modal"
                                   data-label="{{ item_autoridade.label }}"
                                   data-search_class="authority"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_autoridade.label }} <sup>{{ _("Reconcile") }}</sup>
                                </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ _("Subject") }}</th>
                    <td>
                        {% for item_subject in subject %}
                            {% if item_subject.wikidatified %}
                                <a target="_blank" title="{{ item_subject.label }}" style="color: #029c36"
                                   data-qid="{{ item_subject.qid }}"
                                   data-toggle="modal"
                                   data-label="{{ item_subject.label }}"
                                   data-search_class="subject"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_subject.label }}
                                </a>
                            {% else %}
                                <a target="_blank" title="{{ item_subject.label }}" style="color: red"
                                   data-toggle="modal"
                                   data-label="{{ item_subject.label }}"
                                   data-search_class="subject"
                                   data-target="{% if username %}#addModal{% else %}#authenticate{% endif %}">
                                    {{ item_subject.label }} <sup>{{ _("Reconcile") }}</sup>
                                </a>
                            {% endif %}
                            <br>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>{{ _("Digest") }}</th>
                    <td>
                        <div style="overflow: auto">{{ description }}</div>
                    </td>
                </tr>
            </table>
            {% if data and username %}
                <button class="btn btn-primary" id="upload_to_wikidata" value="{{ data }}" data-qid="{{ qid }}"
                        style="font-size:100%; width:100%; background-color: #029c36">
                    {{ _("UPLOAD TO WIKIDATA") }}
                </button>
            {% else %}
                <a target="_blank" data-toggle="modal" data-target="#authenticate">
                    <button class="btn btn-primary" id="authenticate_first"
                            style="font-size:100%; width:100%; background-color: #029c36">
                        {{ _("UPLOAD TO WIKIDATA") }}
                    </button>
                </a>
            {% endif %}
        </div>
        <div class="w3-container w3-third">
            {% if not qid %}
                <span style="color: red"><b>{{ _("This item doesn't exists yet in Wikidata, or it was recently created.") }}</b>
                    <sup><a style="color: red" target="_blank"
                            href="https://www.wikidata.org/w/index.php?title=Special%3ASearch&go=Ir&ns0=1&ns120=1&search={{ urn }}">{{ _("Find on Wikidata") }}</a></sup></span>
                <br><br>
            {% else %}
                <b><span
                        style="color: #029c36;">{{ _("This item <a target='_blank' href='https://www.wikidata.org/wiki/%(qid)s' title='Item already exists'>already exists in Wikidata.</a>", qid=qid) }}</span></b>
                <br><br>
                {{ _("Use <b>{{Cite Q|%(qid)s}}</b> to cite this item as reference on the English Wikipedia.", qid=qid) }}
                <br><br>
            {% endif %}
            {{ _("<b>Some parameters might not be fully identified</b> and thus will be presented in red and with a \"Reconcile\" tag at the table.") }}<br><br>
            {{ _("<b>To <i>wikidatify</i> the metadata</b>, click on \"Reconcile\" and search for an equivalent Wikidata entity. If you can't find it, select \"Not found/nonexistent\".") }}<br><br>
            {{ _("<b>To edit any reconciled metadata</b>, click on its link and search for a new entity value for the metadata.") }}<br><br>
            {{ _("<b>To create or update an item</b>, click in \"Upload to Wikidata\".") }}<br>
        </div>
    </div>
    {% include 'modal.html' %}
{% endblock %}

