{% extends "base.html" %}

{% block navbar %}
    {% with lang=lang, username=username %}
        {% include 'topnavbar.html' %}
    {% endwith %}
{% endblock %}

{% block title %}{{ _("Subject") }}{% endblock %}
{% block banner %}{% endblock %}

{% block content %}
    <div class="w3-row" style="text-align: center">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half">
            <h2 style="padding-top: 30px;">{{ _("Subject") }}</h2>
            <h3 style="padding-top: 30px;">{{ _("Subjects in the context of this application means the keywords of an item.") }}</h3>
        </div>
    </div>
    <div class="w3-row" style="margin-top: 30px">
        <div class="w3-container w3-quarter"></div>
        <div class="w3-container w3-half">
            <table class="table table-responsive table-striped"
                   style="overflow-wrap: break-word;font-size: 125%; width: 100%; table-layout: fixed; overflow-wrap: break-word;">
                {% for item in unknown_values %}
                    <tr>
                        <td>
                            <a target="_blank" title="{{ item }}" style="color: red"
                               data-toggle="modal"
                               data-label="{{ item }}"
                               data-search_class="subject"
                               data-target="#addModal">
                                {{ item }} <sup>{{ _("Reconcile") }}</sup>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% include 'modal.html' %}
{% endblock %}